# PostgreSQL
POSTGRES_USER=fightlog_user
POSTGRES_PASSWORD=fightlog_pass
POSTGRES_DB=fightlog_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=fightlog_nosql

# FastAPI
SECRET_KEY=change_this_secret_key_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend
VITE_API_URL=http://localhost:8000